$background-list: white;

.listContainer {
    width: 450px;
    height: 100vh;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;

    .searchbar {
        border: none;
        background-color: #F5F5F5;
        font-size: 18px;
        width: 330px;
        border-radius: 30px;
        padding: 20px 30px;
        margin: 20px auto;
        margin-right: 32px;

        &:focus {
            outline: none;
        }
    }

    ul {
        height: 100%;
        background-color: $background-list;
        scroll-padding-top: 15px;
        list-style: none;
        overflow-y: scroll;
        width: 100%;
        scroll-snap-type: y mandatory;

        li {
            display: flex;
            justify-content: space-around;
            width: 80%;
            height: 150px;
            margin: 0 auto;
            margin-bottom: 20px;
            padding: 20px;
            background: var(--white);
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
            scroll-snap-align: start;
            transition: all 0.2s;


            .textContainer {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                h1 {
                    font-family: "Inter", sans-serif;
                    font-size: 30px;
                    font-weight: bold;
                    color: white;
                }
            }

            .listImage {
                -webkit-user-drag: none;
                width: 150px
            }

            .imgTypesContainer {
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                img {
                    border-radius: 50%;
                    width: 50px;
                }
            }
        }

    }

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(145, 145, 145);
}