<div class="listContainer">
    <input type="text" class="searchbar" placeholder="Rechercher un Pokémon"
           (input)="onSearch($event)">
    <ul>
        <li style="height: 0px; padding: 0; visibility: hidden;"></li>
        <li [ngStyle]="{ 'background-color': getBackgroundColor(pokemon) }"
            (click)="onSelect(pokemon)"
            *ngFor="let pokemon of filteredPokemons">
            <div class="area1">
                <img src="{{ getPokemonImg(pokemon.pokedex_id - 1) }}" alt=""
                     class="listImage">
            </div>
            <section class="area2">
                <div>{{ pokemon.name.fr }}</div>
                <div>{{ getPokemonType(pokemon.pokedex_id - 1) }}</div>
            </section>
        </li>
    </ul>
</div>