<div class="listContainer">
    <input type="text" class="searchbar" placeholder="Rechercher un Pokémon"
           (input)="onSearch($event)">
    <ul>
        <li style="height: 0px; padding: 0; visibility: hidden;"></li>
        <li [ngStyle]="{ 'background-color': getBackgroundColor(pokemon) }"
            (click)="onSelect(pokemon)"
            *ngFor="let pokemon of filteredPokemons">
            <section class="textContainer">
                <h1>{{ pokemon.name.fr }}</h1>
                <div class="imgTypesContainer"><img
                         src="{{pokemon.types[0].image}}" alt="">
                    <img src="{{pokemon.types[1].image}}" alt=""
                         *ngIf="pokemon.types.length > 1">
                </div>
            </section>
            <img src="{{ getPokemonImg(pokemon.pokedex_id - 1) }}" alt="">
        </li>
    </ul>
</div>