.statsList{
    list-style: none;
    li.listPartContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
        p{
            grid-area: 1 / 1 / 2 / 2;
        }
        
        .statsBarBackground{
            height: 20px;
            width: 200px;
            background-color: lightgray;
            grid-area: 1 / 2 / 2 / 3;
            .statsBar{
            height: 20px;
            width: 200px;
            }
        }
    }

}
.atkFill{
    background-color: red;
}
.defFill{
    background-color: blue;
}
.hpFill{
    background-color: greenyellow;
}
.atkSpeFill{
    background-color: darkred;
}
.defSpeFill{
    background-color: darkblue;
}
.vitFill{
    background-color: lightblue;
}