.pokemon-details {
    height: 100%;
}

.nameContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;


    h2 {
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: semi-bold;
        font-size: 50px;
    }

    p {
        color: white;
        font-family: "Inter", sans-serif;
        font-weight: semi-bold;
        font-size: 40px;
    }
}

.pannelImgContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;

    .pokemonImg {
        max-width: 600px;
        object-fit: cover;
    }
}

.detailsStatsContainer {
    width: 400px;
    height: 420px;
    min-width: 300px;
    margin-top: 30px;
    background-color: white;
    border-radius: 30px;
    padding: 20px;

}

.typesContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

    img {
        border-radius: 50%;
    }
}

.statsList {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;

    li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;


        h4 {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 18px;
            color: rgb(159, 159, 159);
            text-wrap: nowrap;
        }

        p {
            font-family: "Inter", sans-serif;
            font-weight: 600;
            font-size: 18px;
        }

        .stats {
            width: 50%;
            display: flex;
            justify-content: space-between;
        }

        .statsBarBackground {
            width: 130px;
            height: 10px;
            border-radius: 10px;
            background-color: lightgray;

            .statsBar {
                height: 10px;
                width: 100%;
                border-radius: 10px;
                background-color: rgb(44, 224, 44);
            }

            // .atkFill {
            //     background-color: red;
            // }

            // .defFill {
            //     background-color: blue;
            // }

            // .hpFill {
            //     background-color: greenyellow;
            // }

            // .atkSpeFill {
            //     background-color: darkred;
            // }

            // .defSpeFill {
            //     background-color: darkblue;
            // }

            // .vitFill {
            //     background-color: lightblue;
            // }
        }
    }
}

.weight {
    width: 50%;
}

.height {
    width: 50%;
}